<!-- This is a html template for log in page
<input type="submit" value="login" />
-->

{% extends "webpage/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page">
    {% if form.errors %}
        <p>Wrong username or password!</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        <br>
        <input id="submit1" type="submit" value="login" style="display: none" />
                <!-- By label I hide ugly submit button and replace it with mine -->
        <label for="submit1" class="button3">
            Login
            </label>
        <br>
        <a href="{% url 'register' %}" class="button3" >Create a new account</a>
    </form>
    </div>
{% endblock %}