<!-- This is a html template for the Beer Ranking. It contains DataTable in which beers from database are presented.
-->

{% extends 'webpage/base.html' %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}
{% block content %}
    <h1>Beer ranking<br/><small><a href="{% url 'beer_new' %}" class="button2">Add new review</a></small></h1>
    <table id = "table" class = "table table-bordered display" style = "border-color: rgb(201, 201, 201); border-width: 2px;">
        <thead>
            <tr style="background-color: #e6571f; font-family: Helvetica; color: antiquewhite;">
                <th>Brewery</th>
                <th>Name</th>>
                <th>Style</th>
                <th>Alcohol [%]</th>
                <th>BLG</th>
                <th>Rating</th>
                <th>Hop</th>
                <th>Malt</th>
                <th>Roast</th>
                <th>Smoke</th>
                <th>Fruit</th>
            </tr>
        </thead>
        <tbody>
            {% for beer in beers %}
                {% if beer.isapproved %}
                    <tr style="font-family: Helvetica; text-align: center;">
                        <td>{{ beer.brewery }}</td>
                        <td><a href="{% url 'beer_detail' pk=beer.pk %}">{{ beer.name }}</a></td>
                        <td>{{ beer.style }}</td>
                        <td>{{ beer.alcohol_content }}</td>
                        <td>{{ beer.blg}}</td>
                        <td>{{ beer.reviews_avg_score }}</td>
                        <td>{{ beer.reviews_avg_hop }}</td>
                        <td>{{ beer.reviews_avg_malt }}</td>
                        <td>{{ beer.reviews_avg_roast }}</td>
                        <td>{{ beer.reviews_avg_smoke }}</td>
                        <td>{{ beer.reviews_avg_fruit }}</td>
                        </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
