<!-- This is a html template for managing orders
-->

{% extends 'webpage/base.html' %}

{% block content %}

    <div class="page">
    {% if user.is_authenticated and user.is_superuser %}

    {% for order in orders %}
        <br>
        <p><b>Order number:</b> {{ order.pk }}</p>
        <p><b>Ordered Products:</b> {{ order.product }}<p>
        <p><b>Price:</b> {{ order.price }} PLN</p>
        <p><b>Username:</b> {{ order.author }}</p>
        <p><b>Name:</b> {{ order.name }}</p>
        <p><b>Surname:</b> {{ order.surname }}</p>
        <p><b>Country:</b> {{ order.country }}</p>
        <p><b>City:</b> {{ order.city }}</p>
        <p><b>Street:</b> {{ order.street }}</p>
        <p><b>Phone:</b> {{ order.phone }}</p>
        <p><b>Date:</b> {{ order.date }}</p>
        <p><b>Status:</b> {{ order.status }}
        <br>
        <a href="{% url 'order_cancelled' pk=order.pk %}" class="button2">Cancel</a>
        <a href="{% url 'order_pending' pk=order.pk %}" class="button2">Pending</a>
        <a href="{% url 'order_shipped' pk=order.pk %}" class="button2">Shipped</a>
        <a href="{% url 'order_completed' pk=order.pk %}" class="button2">Complete</a>
        <a href="{% url 'order_delayed' pk=order.pk %}" class="button2">Delay</a>
        <a href="{% url 'order_remove' pk=order.pk %}" class="button2">Remove</a>
        <br>
    {% endfor %}
    {% endif %}
    </div>

{% endblock %}