<!-- This is a html template for creation of new beers in database and editing existing ones
-->

{% extends 'webpage/base.html' %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block content %}
    <h2>New beer</h2>
    <br/>
     <form action="." method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <input id="submit1" type="submit" value="login" style="display: none" />
        <!-- By label I hide ugly submit button and replace it with mine -->
        <label for="submit1" class="button3">
            Save
        </label>
    </form>
{% endblock %}