{%  extends 'webpage/base.html' %}

{% block content %}
    <div class='page'>
        <a href="{% url 'beer_list' %}" class="button1">Beer Ranking</a>
        <br/>
        <a href="https://pl.linkedin.com/in/michal-rzeszotarski" class="button1">About me</a>
        <br/>
        {% if user.is_authenticated %}
            <br/>
            <br/>
            <br/>
            <a href="{% url 'approve_list' %}" class="button1">Reviews to approve</a>
        {% endif %}
    </div>
{% endblock %}