<!-- This is a html template in which you can see more information about selected beer, reviews, and where you can add new review of beer
-->

{% extends 'webpage/base.html' %}

{% block content %}
    <div class="page">
        {% if user.is_authenticated and user.is_superuser %}
            <a class="btn btn-default" href="{% url 'mybeer_edit' pk=mybeer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'mybeer_remove' pk=mybeer.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <img style="float: left; margin-right: 30px" alt="Beer Image" height="300px" width="auto" src="{{ beer.picture }}">
        <h2>{{ mybeer.name }}</h2>
        <p><b>Name:</b> {{ mybeer.name }}</p>
        <p><b>Style:</b> {{ mybeer.style }}</p>
        <p><b>Alcohol [%]:</b> {{ mybeer.alcohol_content }}</p>
        <p><b>BLG:</b> {{ mybeer.blg }}</p>
        <p><b>Malts:</b> {{ mybeer.malts }}</p>
        <p><b>Hops:</b> {{ mybeer.hops }}</p>
        <p><b>Additives:</b> {{ mybeer.additives }}</p>
    </div>
{% endblock %}