<!-- This is a html template in which you can see more information about selected beer, reviews, and where you can add new review of beer
-->

{% extends 'webpage/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="page">

        {% if user.is_authenticated and user.is_superuser %}
            <a class="btn btn-default" href="{% url 'mybeer_edit' pk=mybeer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'mybeer_remove' pk=mybeer.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <img style="float: left; margin-right: 100px; margin-left: 30px" ; alt="Beer Image" height="300px" width="auto" src="{{ mybeer.picture }}">
        <div class="page" style="width: 50%; float: right">
        <canvas id="Chart"></canvas>
        </div>
        <h2>{{ mybeer.name }}</h2>
        <p>- {{ mybeer.description }}</p>
        <p><b>Style:</b> {{ mybeer.style }}</p>
        <p><b>Alcohol [%]:</b> {{ mybeer.alcohol_content }}</p>
        <p><b>BLG:</b> {{ mybeer.blg }}</p>
        <p><b>Malts:</b> {{ mybeer.malts }}</p>
        <p><b>Hops:</b> {{ mybeer.hops }}</p>
        <p><b>Additives:</b> {{ mybeer.additives }}</p>
        <h2><b>Price (PLN):</b> {{ mybeer.price }}</h2>
        {% if user.is_authenticated %}<a class="button2" href="{% url 'add_to_cart' mybeer.pk %}">Add to Cart</a>{% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button id="toggleButton" class="button2">Hide/ show reviews</button>
    <section id="hiddenSection">
    <br>
    {% for review in reviews %}
        {% if not review.banned %}
            <p>{{ review.score }} / 10 ({{ review.author }}) : {{ review.comment }}
                {% if user.is_authenticated and user.is_superuser %}
                    <a class="button2" href="{% url 'review_ban' pk=review.pk %}">Ban</a>
                {% endif %}</p>
            <br>
        {% endif %}
        {% if review.banned and user.is_authenticated and user.is_superuser %}
            <p>
                {{ review.score }} / 10 ({{ review.author }}) : {{ review.comment }}
                <a class="button2" href="{% url 'review_unban' pk=review.pk %}">Unban</a>
            </p>
            <br>
        {% endif %}
        {% empty %}
        <p>There are no reviews yet.</p>
    {% endfor %}
    </section>
    {% if user.is_authenticated %}
    {% if new_review %}
    <h2>Your review has been added.</h2>
    {% else %}
    <h2>Add a new review</h2>
    <form action="." method="post">
    {{ review_form|crispy }}
    {% csrf_token %}
    <input id="submit1" type="submit" value="login" style="display: none" />
        <!-- By label, I hide ugly submit button and replace it with mine -->
        <label for="submit1" class="button3">
            Add review
        </label>
    </form>
        </div>
    {% endif %}
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById('Chart');
      const data = {
  labels: {{ chart_labels|safe }},
  datasets: [{
    label: '',
    data: {{ chart_data|safe }},
    fill: true,
    backgroundColor: 'rgba(230, 87, 31, 0.2)',
    borderColor: 'rgb(230, 87, 31)',
    pointBackgroundColor: 'rgb(255, 99, 132)',
    pointBorderColor: '#fff',
    pointHoverBackgroundColor: '#fff',
    pointHoverBorderColor: 'rgb(255, 99, 132)'
  }, ]
};

      new Chart(ctx, {
        type: 'radar',
  data: data,
  options: {
        scales: {
            r: {
                angleLines: {
                    display: true
                        },
                    suggestedMin: 0,
                    suggestedMax: 10
            }
        },
      plugins: {
          legend: {
              display: false
                }
            },
    elements: {
      line: {
        borderWidth: 3
      }
    },
  },
});
    </script>
    <script>
    document.getElementById('toggleButton').addEventListener('click', function() {
      var hiddenSection = document.getElementById('hiddenSection');
      if (hiddenSection.style.display === 'none') {
        hiddenSection.style.display = 'block';
      } else {
        hiddenSection.style.display = 'none';
      }
    });
  </script>

{% endblock %}